# Byte-compiled / optimized / DLL files.
__pycache__/
*.py[cod]

# C extensions.
*.so

# Pytest directories.
.pytest_cache/

# macOS folder attributes.
.DS_Store

# Jupyter notebook checkpoints.
.ipynb_checkpoints/
