# BioSimSpace runtime requirements.

sire ~=2023.2.0

configargparse
ipywidgets<8
kcombu_bss
lomap2
networkx
nglview
openff-interchange-base
openff-toolkit-base
parmed
py3dmol
pydot
pygtail
pyyaml
rdkit

# The below are packages that aren't available on all
# platforms/OSs and so need to be conditionally included

mdtraj ; platform_machine != "aarch64"       # not on Linux/aarch64

mdanalysis ; platform_machine != "aarch64"   # not on Linux/aarch64
